.section__button {
    padding: 10px 20px;
    background-color: rgb(31, 119, 31);
    color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px -6px #5B5B5B;
    border: none;
    margin-bottom: 5px;
}

.section__button:hover {
    background-color: rgb(172, 15, 46);
    transform: scale(1.1);
    transition: 0.5s;
}

.section__button:active {
    background-color: rgb(230, 187, 0)
}

.section__message {
    color: rgb(31, 119, 31);
    margin-left: 15px;
    padding: 10px;
    font-size: 18px;
}