.section__fieldset {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid rgb(31, 119, 31);
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 15px;
    background-image: url(../img/money.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(235, 235, 235, 0.700);
    box-shadow: 5px 5px 10px -6px #5B5B5B;
}